.form-card h2 {
  color: #b30000; /* Matching the red from your button */
  margin-bottom: 10px;
  font-size: 22px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh;
  padding-top: 150px; 
}

/* card */
.form-card {
  background: white;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* STACK INPUTS */
.login-form-fields {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}

/* inputs */
.login-form-fields input {
  padding: 12px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.login-form-fields input:focus {
  border-color: #b30000;
}

/* button */
.calculate-btn {
  width: 100%;
  padding: 14px;
  background: #b30000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.calculate-btn:hover {
  background: #8e0000;
}

/* Footer link styling */
.form-footer {
  margin-top: 20px;
  text-align: center;
}

.form-footer p {
  font-size: 14px;
  color: #666; 
}

.register-link {
  color: #b30000; 
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.register-link:hover {
  text-decoration: underline;
}